# IBM Data Science: Capstone Project
## The Capstone Notebook

### Introduction

Before COVID-19 threw all other business strategies or plans into complete disarray, Europe was still getting to grips on how Brexit was going to affect the region.

Now that Britain has chosen to leave the EU, many businesses will relocate their head offices outside of London, the world's former financial centre. With this relocation, hundreds of thousands (if not millions) of people will have to uplift their lives and move to another city.

Based on this [forbes article](https://fortune.com/longform/brexit-amsterdam-the-new-london-europe-companies/) Amsterdam could be the 'new London'. If employees are forced to move from the one city to the other, the big question is: which neighborhoods should these soon-to-be ex-Londoners choose to move to in Amsterdam?

Based on Foursquare data, I aim to cluster Amsterdam and London neighborhoods based on similarity. So if you love your neighborhood in London and want something similar in Amsterdam, this is your go-to guide.

### Data

The data I will be using is from accessing the Foursquare API. I will be exploring nighborhoods in London and Amsterdam, using the **explore** function to get the most common venue categories in each neighborhood in the two cities, and then use this feature to group the neighborhoods into clusters. 


I will use the geopy library to get the latitude and longitude values of London and Amsterdam, then use an unsupervised machine learning clustering algorithm, *k*-means, to do the custering. Lastly, I will use the Folium library to colour code the neighborhoods in Amsterdam and London based on their emerging clusters.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>

1. <a href="#item1">Download and Explore Dataset</a>

2. <a href="#item2">Explore Neighborhoods in London and Amsterdam</a>

3. <a href="#item3">Analyze Each Neighborhood</a>

4. <a href="#item4">Cluster Neighborhoods</a>

5. <a href="#item5">Examine Clusters</a>    
</font>
</div>

In [467]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [468]:
import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import GoogleV3 # convert an address into latitude and longitude values

In [469]:
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

In [470]:
#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

## 1. Download and Explore Dataset
### a) Scraping Geo-location Data
### b) Scraping Foursquare Data

First we have to scrape the neighborhood, borough and latitude/longitude data for each city.
* To get the London data I scraped [this](https://en.wikipedia.org/wiki/List_of_areas_of_London) wikipedia page.
* To get the Amsterdam data I scraped [this](https://en.wikipedia.org/wiki/Boroughs_of_Amsterdam) wikipedia page.

Then we have to get the foursquare data

### London

In [471]:
#Scraping the London data
#Reading in the table and setting the header to the first row
df = pd.read_html(r'https://en.wikipedia.org/wiki/List_of_areas_of_London', match = 'Location')
df = pd.DataFrame(df[0])
df.head()

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [472]:
#setting the column labels
df.columns = ['location', 'borough', 'posttown', 'postcode', 'dialcode', 'OSgridref']
df.head()

,location,borough,posttown,postcode,dialcode,OSgridref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [473]:
#dropping unnecessary columns
df.drop(['dialcode', 'OSgridref'], axis =1, inplace = True)
df.columns

Index(['location', 'borough', 'posttown', 'postcode'], dtype='object')

In [474]:
#Only selecting the first postal code and first boroughs listed
first_postcode= df.postcode.str.split(",", expand = True)[0]
df['postcode'] = first_postcode

first_borough= df.borough.str.split(",", expand = True)[0]
df['borough'] = first_borough
df.head()

      location     borough        posttown postcode
0   Abbey Wood      Bexley          LONDON      SE2
1        Acton      Ealing          LONDON       W3
2    Addington  Croydon[8]         CROYDON      CR0
3   Addiscombe  Croydon[8]         CROYDON      CR0
4  Albany Park      Bexley  BEXLEY, SIDCUP      DA5

In [475]:
# Cleaning up the borough names to remove the square brackets with regex
df.borough = df.borough.map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))
df

,location,borough,posttown,postcode
0,Abbey Wood,Bexley,LONDON,SE2
1,Acton,Ealing,LONDON,W3
2,Addington,Croydon,CROYDON,CR0
3,Addiscombe,Croydon,CROYDON,CR0
4,Albany Park,Bexley,"BEXLEY, SIDCUP",DA5
5,Aldborough Hatch,Redbridge,ILFORD,IG2
6,Aldgate,City,LONDON,EC3
7,Aldwych,Westminster,LONDON,WC2
8,Alperton,Brent,WEMBLEY,HA0
9,Anerley,Bromley,LONDON,SE20
10,Angel,Islington,LONDON,EC1
11,Aperfield,Bromley,WESTERHAM,TN16
12,Archway,Islington,LONDON,N19
13,Ardleigh Green,Havering,HORNCHURCH,RM11
14,Arkley,Barnet,"BARNET, LONDON",EN5
15,Arnos Grove,Enfield,LONDON,N11
16,Balham,Wandsworth,LONDON,SW12
17,Bankside,Southwark,LONDON,SE1
18,Barbican,City,LONDON,EC1
19,Barking,Barking and Dagenham,BARKING,IG11
20,Barkingside,Redbridge,ILFORD,IG6
21,Barnehurst,Bexley,BEXLEYHEATH,DA7
22,Barnes,Richmond upon Thames,LONDON,SW13
23,Barnes Cray,Bexley,DARTFORD,DA1
24,Barnet Gate,Barnet,"LONDON, BARNET",NW7
25,"Barnet (also Chipping Barnet, High Barnet)",Barnet,BARNET,EN5
26,Barnsbury,Islington,LONDON,N1
27,Battersea,Wandsworth,LONDON,SW11
28,Bayswater,Westminster,LONDON,W2
29,Beckenham,Bromley,"BECKENHAM, LONDON",BR3
30,Beckton,Newham,"LONDON, BARKING",E6
31,Becontree,Barking and Dagenham,DAGENHAM,RM9
32,Becontree Heath,Barking and Dagenham,DAGENHAM,RM8
33,Beddington,Sutton,"WALLINGTON, CROYDON",SM6
34,Bedford Park,Ealing,LONDON,W4
35,Belgravia,Westminster,LONDON,SW1
36,Bellingham,Lewisham,LONDON,SE6
37,Belmont,Harrow,"HARROW, STANMORE",HA3
38,Belmont,Sutton,SUTTON,SM2
39,Belsize Park,Camden,LONDON,NW3
40,Belvedere,Bexley,BELVEDERE,DA17
41,Bermondsey,Southwark,LONDON,SE1
42,Berrylands,Kingston upon Thames,SURBITON,KT5
43,Bethnal Green,Tower Hamlets,LONDON,E2
44,"Bexley (also Old Bexley, Bexley Village)",Bexley,BEXLEY,DA5
45,Bexleyheath (also Bexley New Town),Bexley,"BEXLEYHEATH, LONDON",DA6
46,Bickley,Bromley,BROMLEY,BR3
47,Biggin Hill,Bromley,WESTERHAM,TN16
48,Blackfen,Bexley,SIDCUP,DA15
49,Blackfriars,City,LONDON,EC4
50,Blackheath,Lewisham,LONDON,SE3
51,Blackheath Royal Standard,Greenwich,LONDON,SE3
52,Blackwall,Tower Hamlets,LONDON,E14
53,Blendon,Bexley,BEXLEY,DA 5
54,Bloomsbury,Camden,LONDON,WC1
55,Botany Bay,Enfield,ENFIELD,EN2
56,Bounds Green,Haringey,LONDON,N11
57,Bow,Tower Hamlets,LONDON,E3
58,Bowes Park,Haringey,LONDON,N22
59,Brentford,Hounslow,BRENTFORD,TW8
60,Brent Cross,Barnet,LONDON,NW2
61,Brent Park,Brent,LONDON,NW10
62,Brimsdown,Enfield,ENFIELD,EN3
63,Brixton,Lambeth,LONDON,SW2
64,Brockley,Lewisham,LONDON,SE4
65,Bromley,Bromley,BROMLEY,BR1
66,Bromley (also Bromley-by-Bow),Tower Hamlets,LONDON,E3
67,Bromley Common,Bromley,BROMLEY,BR3
68,Brompton,Kensington and ChelseaHammersmith and Fulham,LONDON,SW3
69,Brondesbury,Brent,LONDON,NW6
70,Brunswick Park,Barnet,LONDON,N11
71,Bulls Cross,Enfield,ENFIELD,EN2
72,Burnt Oak,Barnet,EDGWARE,HA8
73,"Burroughs, The",Barnet,LONDON,NW4
74,Camberwell,Southwark,LONDON,SE5
75,Cambridge Heath,Tower Hamlets,LONDON,E2
76,Camden Town,Camden,LONDON,NW1
77,Canary Wharf,Tower Hamlets,LONDON,E14
78,Cann Hall,Waltham Forest,LONDON,E11
79,Canning Town,Newham,LONDON,E16
80,Canonbury,Islington,LONDON,N1
81,Carshalton,Sutton,CARSHALTON,SM5
82,Castelnau,Richmond upon Thames,LONDON,SW13
83,Castle Green,Barking and Dagenham,DAGENHAM,RM9
84,Catford,Lewisham,LONDON,SE6
85,Chadwell Heath,Redbridge,ROMFORD,RM6
86,Chalk Farm,Camden,LONDON,NW1
87,Charing Cross,Westminster,LONDON,WC2
88,Charlton,Greenwich,LONDON,SE7
89,Chase Cross,Havering,ROMFORD,RM5
90,Cheam,Sutton,SUTTON/MERTON,SM1 (PARTIAL)SM2
91,Chelsea,Kensington and Chelsea,LONDON,SW3
92,Chelsfield,Bromley,ORPINGTON,BR6
93,Chessington,Kingston upon Thames,CHESSINGTON,KT9
94,Childs Hill,Barnet,LONDON,NW2
95,Chinatown,Westminster,LONDON,W1
96,Chinbrook,Lewisham,LONDON,SE12
97,Chingford,Waltham Forest,LONDON,E4
98,Chislehurst,Bromley,CHISLEHURST,BR7
99,Chiswick,Hounslow,LONDON,W4
100,Church End,Brent,LONDON,NW10
101,Church End,Barnet,LONDON,N3
102,Clapham,Lambeth,LONDON,SW4
103,Clerkenwell,Islington,LONDON,EC1
104,Cockfosters,Barnet,BARNET,EN4
105,Colindale,Barnet,LONDON,NW9
106,Collier Row,Havering,ROMFORD,RM5
107,Colliers Wood,Merton,LONDON,SW19
108,Colney Hatch,Barnet,LONDON,N11
109,Colyers,Bexley,ERITH,DA8
110,Coney Hall,Bromley,WEST WICKHAM,BR4
111,Coombe,Croydon,CROYDON,CR0
112,Coombe,Kingston upon Thames,KINGSTON UPON THAMES,KT2
113,Coulsdon,Croydon,COULSDON,CR5
114,Covent Garden,Westminster,LONDON,WC2
115,Cowley,Hillingdon,UXBRIDGE,UB8
116,Cranford,Hounslow,HOUNSLOW,TW5
117,Cranham,Havering,UPMINSTER,RM14
118,Crayford,Bexley,DARTFORD,DA1
119,Creekmouth,Barking and Dagenham,BARKING,IG11
120,Crews Hill,Enfield,ENFIELD,EN2
121,Cricklewood,Barnet,LONDON,NW2
122,Crofton Park,Lewisham,LONDON,SE4
123,Crook Log,Bexley,BEXLEYHEATH,DA6
124,Crossness,Bexley,LONDON,SE2
125,Crouch End,Haringey,LONDON,N8
126,Croydon,Croydon,CROYDON,CR0
127,Crystal Palace,Bromley,LONDON,SE19
128,Cubitt Town,Tower Hamlets,LONDON,E14
129,Cudham,Bromley,SEVENOAKS,TN14
130,Custom House,Newham,LONDON,E16
131,Dagenham,Barking and Dagenham,DAGENHAM,RM9
132,Dalston,Hackney,LONDON,E8
133,Dartford,Dartford,LONDON,DA5
134,De Beauvoir Town,Islington,LONDON,N1
135,Denmark Hill,Southwark,LONDON,SE5
136,Deptford,Lewisham,LONDON,SE8
137,Derry Downs,Bromley,ORPINGTON,BR5
138,Dollis Hill,Brent,LONDON,NW2
139,Downe,Bromley,ORPINGTON,BR6
140,Downham,Lewisham,BROMLEY,BR1
141,Dulwich,Southwark,LONDON,SE21
142,Ealing,Ealing,LONDON,W5
143,Earls Court,Kensington and Chelsea,LONDON,SW5
144,Earlsfield,Wandsworth,LONDON,SW18
145,East Barnet,Barnet,BARNET,EN4
146,East Bedfont,Hounslow,FELTHAM,TW14
147,East Dulwich,Southwark,LONDON,SE22
148,East Finchley,Barnet,LONDON,N2
149,East Ham,Newham,LONDON,E6
150,East Sheen,Richmond upon Thames,LONDON,SW14
151,East Wickham,Bexley,WELLING,DA16
152,Eastcote,Hillingdon,PINNER,HA5
153,Eden Park,Bromley,BECKENHAM,BR3
154,Edgware,Barnet,EDGWARE,HA8
155,Edmonton,Enfield,LONDON,N9
156,Eel Pie Island,Richmond upon Thames,TWICKENHAM,TW1
157,Elephant and Castle,Southwark,LONDON,SE1
158,Elm Park,Havering,HORNCHURCH,RM12
159,Elmers End,Bromley,BECKENHAM,BR3
160,Elmstead,Bromley,CHISLEHURST,BR7
161,Eltham,Greenwich,LONDON,SE9
162,Emerson Park,Havering,HORNCHURCH,RM11
163,Enfield Highway,Enfield,ENFIELD,EN3
164,Enfield Lock,Enfield,ENFIELD,EN3
165,Enfield Town,Enfield,ENFIELD,EN1
166,Enfield Wash,Enfield,ENFIELD,EN3
167,Erith,Bexley,ERITH,DA8
168,Falconwood,Bexley,"LONDON, WELLING",SE9
169,Farringdon,Islington & City,LONDON,EC1
170,Feltham,Hounslow,FELTHAM,TW13
171,Finchley,Barnet,LONDON,N2
172,Finsbury,Islington,LONDON,EC1
173,Finsbury Park,Haringey,LONDON,N4
174,Fitzrovia,Camden,LONDON,W1
175,Foots Cray,Bexley,SIDCUP,DA14
176,Forest Gate,Newham,LONDON,E7
177,Forest Hill,Lewisham,LONDON,SE23
178,Forestdale,Croydon,CROYDON,CR0
179,Fortis Green,Haringey,LONDON,N10
180,Freezywater,Enfield,ENFIELD,EN3
181,Friern Barnet,Barnet,LONDON,N11
182,Frognal,Camden,LONDON,NW3
183,Fulham,Hammersmith and Fulham,LONDON,SW6
184,Fulwell,Richmond upon Thames,"TEDDINGTON, HAMPTON",TW11
185,Gallows Corner,Havering,ROMFORD,RM2
186,Gants Hill,Redbridge,ILFORD,IG2
187,Gidea Park,Havering,ROMFORD,RM2
188,Gipsy Hill,Lambeth,LONDON,SE19
189,Goddington,Bromley,ORPINGTON,BR6
190,Golders Green,Barnet,LONDON,NW11
191,Goodmayes,Redbridge,ILFORD,IG3
192,Gospel Oak,Camden,LONDON,NW5
193,Grahame Park,Barnet,LONDON,NW9
194,Grange Park,Enfield,LONDON,N21
195,Greenford,Ealing,GREENFORD,UB6
196,Greenwich,Greenwich,LONDON,SE10
197,Grove Park,Hounslow,LONDON,W4
198,Grove Park,Lewisham,LONDON,SE12
199,Gunnersbury,Hounslow,LONDON,W4
200,Hackney,Hackney,LONDON,E5
201,Hackney Central,Hackney,LONDON,E8
202,Hackney Marshes,Hackney,LONDON,E9
203,Hackney Wick,Hackney,LONDON,E9
204,Hadley Wood,Enfield,BARNET,EN4
205,Haggerston,Hackney,LONDON,E2
206,Hainault,Redbridge,CHIGWELL,IG7
207,The Hale,Barnet,LONDON,NW7
208,Ham,Richmond upon Thames,RICHMOND,TW10
209,Hammersmith,Hammersmith and Fulham,LONDON,W6
210,Hampstead,Camden,LONDON,NW3
211,Hampstead Garden Suburb,Barnet,LONDON,N2
212,Hampton,Richmond upon Thames,HAMPTON,TW12
213,Hampton Hill,Richmond upon Thames,HAMPTON,TW12
214,Hampton Wick,Richmond upon Thames,KINGSTON UPON THAMES,KT1
215,Hanwell,Ealing,LONDON,W7
216,Hanworth,Hounslow,FELTHAM,TW13
217,Harefield,Hillingdon,UXBRIDGE,UB9
218,Harlesden,Brent,LONDON,NW10
219,Harlington,Hillingdon,HAYES,UB3
220,Harmondsworth,Hillingdon,WEST DRAYTON,UB7
221,Harold Hill,Havering,ROMFORD,RM3
222,Harold Park,Havering,ROMFORD,RM3
223,Harold Wood,Havering,ROMFORD,RM3
224,Harringay,Haringey,LONDON,N4
225,Harrow,Harrow,HARROW,HA1
226,Harrow on the Hill,Harrow,HARROW,HA1
227,Harrow Weald,Harrow,HARROW,HA3
228,Hatch End,Harrow,PINNER,HA5
229,Hatton,Hounslow,FELTHAM,TW14
230,Havering-atte-Bower,Havering,ROMFORD,RM4
231,Hayes,Bromley,BROMLEY,BR2
232,Hayes,Hillingdon,HAYES,UB3
233,Hazelwood,Bromley,ORPINGTON,BR6
234,Hendon,Barnet,LONDON,NW4
235,Herne Hill,Lambeth,LONDON,SE24
236,Heston,Hounslow,HOUNSLOW,TW5
237,Highams Park,Waltham Forest,LONDON,E4
238,Highbury,Islington,LONDON,N5
239,Highgate,Camden,LONDON,N6
240,Hillingdon,Hillingdon,UXBRIDGE,UB8
241,Hither Green,Lewisham,LONDON,SE13
242,Holborn,Camden,LONDON,WC1
243,Holland Park,Kensington and Chelsea,LONDON,W8
244,Holloway,Islington,LONDON,N7
245,Homerton,Hackney,LONDON,E9
246,Honor Oak,Lewisham,LONDON,SE23
247,Hook,Kingston upon Thames,CHESSINGTON,KT9
248,Hornchurch,Havering,HORNCHURCH,RM11
249,Horn Park,Greenwich,LONDON,SE12
250,Hornsey,Haringey,LONDON,N8
251,Hounslow,Hounslow,HOUNSLOW,TW3
252,Hoxton,Hackney,LONDON,N1
253,The Hyde,Barnet,LONDON,NW9
254,Ickenham,Hillingdon,UXBRIDGE,UB10
255,Ilford,Redbridge,ILFORD,IG1
256,Isle of Dogs,Tower Hamlets,LONDON,E14
257,Isleworth,Hounslow,ISLEWORTH,TW7
258,Islington,Islington,LONDON,N1
259,Kenley,Croydon,KENLEY,CR8
260,Kennington,Lambeth,LONDON,SE11
261,Kensal Green,Brent,LONDON,NW10
262,Kensington,Kensington and Chelsea,LONDON,SW7
263,Kentish Town,Camden,LONDON,NW5
264,Kenton,Brent,"HARROW, LONDON",HA3
265,Keston,Bromley,KESTON,BR2
266,Kew,Richmond upon Thames,RICHMOND,TW9
267,Kidbrooke,Greenwich,LONDON,SE3
268,Kilburn,Brent,LONDON,NW6
269,King's Cross,Camden and Islington,LONDON,WC1
270,Kingsbury,Brent,LONDON,NW9
271,Kingston Vale,Kingston upon Thames,LONDON,SW15
272,Kingston upon Thames,Kingston upon Thames,KINGSTON UPON THAMES,KT1
273,Knightsbridge,Westminster,LONDON,SW1
274,Ladywell,Lewisham,LONDON,SE4
275,Lambeth,Lambeth,LONDON,SE1
276,Lamorbey,Bexley,SIDCUP,DA15
277,Lampton,Hounslow,HOUNSLOW,TW4
278,Lea Bridge,Hackney,LONDON,E10
279,Leamouth,Tower Hamlets,LONDON,E14
280,Leaves Green,Bromley,KESTON,BR2
281,Lee,Lewisham,LONDON,SE12
282,Lessness Heath,Bexley,BELVEDERE,DA17
283,Lewisham,Lewisham,LONDON,SE13
284,Leyton,Waltham Forest,LONDON,E10
285,Leytonstone,Waltham Forest,LONDON,E11
286,Limehouse,Tower Hamlets,LONDON,E14
287,Lisson Grove,Westminster,LONDON,NW8
288,Little Ilford,Newham,LONDON,E12
289,Little Venice,Westminster,LONDON,W9
290,Locksbottom,Bromley,ORPINGTON,BR6
291,Longford,Hillingdon,WEST DRAYTON,UB7
292,Longlands,Bexley,"LONDON, SIDCUP",SE9
293,Lower Clapton,Hackney,LONDON,E5
294,Lower Morden,Merton,MORDEN,SM4
295,Loxford,Redbridge,ILFORD,IG1
296,Maida Vale,Westminster,LONDON,W9
297,Malden Rushett,Kingston upon Thames,CHESSINGTON,KT9
298,Manor House,Hackney,LONDON,N4
299,Manor Park,Newham,LONDON,E12
300,Marks Gate,Barking and Dagenham,ROMFORD,RM6
301,Maryland,Newham,LONDON,E15
302,Marylebone (also St Marylebone),Westminster,LONDON,W1
303,Mayfair,Westminster,LONDON,W1
304,Maze Hill,Greenwich,LONDON,SE10
305,Merton Park,Merton,LONDON,SW19
306,Middle Park,Greenwich,LONDON,SE9
307,Mile End,Tower Hamlets,LONDON,E1
308,Mill Hill,Barnet,LONDON,NW7
309,Millbank,Westminster,LONDON,SW1
310,Millwall,Tower Hamlets,LONDON,E14
311,Mitcham,Merton,MITCHAM,CR4
312,Monken Hadley,Barnet,BARNET,EN5
313,Morden,Merton,MORDEN,SM4
314,Morden Park,Merton,MORDEN,SM4
315,Mortlake,Richmond upon Thames,LONDON,SW14
316,Motspur Park,Kingston upon Thames,NEW MALDEN,KT3
317,Mottingham,Bromley,LONDON,SE9
318,Muswell Hill,Haringey and Barnet,LONDON,N10
319,Nag's Head,Islington,LONDON,N7
320,Neasden,Brent,LONDON,NW2
321,New Addington,Croydon,CROYDON,CR0
322,New Barnet,Barnet,BARNET,EN4
323,New Cross,Lewisham,LONDON,SE14
324,New Eltham,Greenwich,LONDON,SE9
325,New Malden,Kingston upon Thames,NEW MALDEN,KT3
326,New Southgate,Barnet,LONDON,N11
327,Newbury Park,Redbridge,ILFORD,IG2
328,Newington,Southwark,LONDON,SE1
329,Nine Elms,Wandsworth,LONDON,SW8
330,Noak Hill,Havering,ROMFORD,RM3
331,Norbiton,Kingston upon Thames,KINGSTON UPON THAMES,KT1
332,Norbury,Croydon,LONDON,SW16
333,North Cray,Bexley,SIDCUP,DA14
334,North End,Bexley,ERITH,DA8
335,North Finchley,Barnet,LONDON,N12
336,North Harrow,Harrow,HARROW,HA1
337,North Kensington,Kensington and Chelsea,LONDON,W10
338,North Ockendon,Havering,UPMINSTER,RM14
339,North Sheen,Richmond upon Thames,RICHMOND,TW9
340,North Woolwich,Newham,LONDON,E16
341,Northolt,Ealing,NORTHOLT,UB5
342,Northumberland Heath,Bexley,ERITH,DA8
343,Northwood,Hillingdon,NORTHWOOD,HA6
344,Norwood Green,Ealing,SOUTHALL,UB2
345,Notting Hill,Kensington and Chelsea,LONDON,W11
346,Nunhead,Southwark,LONDON,SE15
347,Oakleigh Park,Barnet,LONDON,N20
348,Old Coulsdon,Croydon,COULSDON,CR5
349,Old Ford,Tower Hamlets,LONDON,E3
350,Old Malden,Kingston upon Thames,WORCESTER PARK,KT4
351,Old Oak Common,Hammersmith and Fulham,LONDON,NW10
352,Orpington,Bromley,ORPINGTON,BR5
353,Osidge,Barnet,LONDON,N14
354,Osterley,Hounslow,ISLEWORTH,TW7
355,Oval,Lambeth,LONDON,SW8
356,Paddington,Westminster,LONDON,W2
357,Palmers Green,Enfield,LONDON,N13
358,Park Royal,Brent,LONDON,NW10
359,Parsons Green,Hammersmith and Fulham,LONDON,SW6
360,Peckham,Southwark,LONDON,SE15
361,Penge,Bromley,LONDON,SE20
362,Pentonville,Islington,LONDON,N1
363,Perivale,Ealing,GREENFORD,UB6
364,Petersham,Richmond upon Thames,RICHMOND,TW10
365,Petts Wood,Bromley,ORPINGTON,BR5
366,Pimlico,Westminster,LONDON,SW1
367,Pinner,Harrow,PINNER,HA5
368,Plaistow,Newham,LONDON,E13
369,Plaistow,Bromley,BROMLEY,BR1
370,Plumstead,Greenwich,LONDON,SE18
371,Ponders End,Enfield,ENFIELD,EN1
372,Poplar,Tower Hamlets,LONDON,E14
373,Pratt's Bottom,Bromley,ORPINGTON,BR6
374,Preston,Brent,WEMBLEY,HA9
375,Primrose Hill,Camden,LONDON,NW1
376,Purley,Croydon,PURLEY,CR8
377,Putney,Wandsworth,LONDON,SW15
378,Queen's Park,Brent,LONDON,NW6
379,Queensbury,Harrow,"HARROW, STANMOREEDGWARE, LONDON",HA3
380,Rainham,Havering,RAINHAM,RM13
381,Ratcliff,Tower Hamlets,LONDON,E1
382,Rayners Lane,Harrow,PINNER,HA5
383,Raynes Park,Merton,LONDON,SW20
384,Redbridge,Redbridge,ILFORD,IG4
385,Richmond,Richmond upon Thames,RICHMOND,TW9
386,Riddlesdown,Croydon,PURLEY,CR8
387,Roehampton,Wandsworth,LONDON,SW15
388,Romford,Havering,ROMFORD,RM1
389,Rotherhithe,Southwark,LONDON,SE16
390,Ruislip,Hillingdon,RUISLIP,HA4
391,Rush Green,Barking and Dagenham,ROMFORD,RM7
392,Ruxley,Bexley,"SIDCUP, ORPINGTON",DA14
393,Sanderstead,Croydon,SOUTH CROYDON,CR2
394,Sands End,Hammersmith and Fulham,LONDON,SW6
395,Selhurst,Croydon,LONDON,SE25
396,Selsdon,Croydon,SOUTH CROYDON,CR2
397,Seven Kings,Redbridge,ILFORD,IG3
398,Seven Sisters,Haringey,LONDON,N15
399,Shacklewell,Hackney,LONDON,E8
400,Shadwell,Tower Hamlets,LONDON,E1
401,Shepherd's Bush,Hammersmith and Fulham,LONDON,W12
402,Shirley,Croydon,CROYDON,CR0
403,Shooter's Hill,Greenwich,LONDON,SE18
404,Shoreditch,Hackney,LONDON,N1
405,Sidcup,Bexley,SIDCUP,DA14
406,Silvertown,Newham,LONDON,E16
407,Sipson,Hillingdon,WEST DRAYTON,UB7
408,Slade Green,Bexley,ERITH,DA8
409,Snaresbrook,Redbridge,LONDON,E11
410,Soho,Westminster,LONDON,W1
411,Somerstown,Camden,LONDON,NW1
412,South Croydon,Croydon,SOUTH CROYDON,CR2
413,South Hackney,Hackney,LONDON,E9
414,South Harrow,Harrow,HARROW,HA2
415,South Hornchurch,Havering,RAINHAM,RM13
416,South Kensington,Kensington and Chelsea,LONDON,SW7
417,South Norwood,Croydon,LONDON,SE25
418,South Ruislip,Hillingdon,RUISLIP,HA4
419,South Wimbledon,Merton,LONDON,SW19
420,South Woodford,Redbridge,LONDON,E18
421,South Tottenham,Haringey,LONDON,N15
422,Southend,Lewisham,LONDON,SE6
423,Southall,Ealing,SOUTHALL,UB1
424,Southborough,Bromley,BROMLEY,BR2
425,Southfields,Wandsworth,LONDON,SW18
426,Southgate,Enfield,LONDON,N14
427,Spitalfields,Tower Hamlets,LONDON,E1
428,St Helier,Merton,MORDEN,SM4
429,St James's,Westminster,LONDON,SW1
430,St Margarets,Richmond upon Thames,TWICKENHAM,TW1
431,St Giles,Camden,LONDON,WC2
432,St Johns,Lewisham,LONDON,SE4
433,St John's Wood,Westminster,LONDON,NW8
434,St Luke's,Islington,LONDON,EC1
435,St Mary Cray,Bromley,ORPINGTON,BR5
436,St Pancras,Camden,LONDON,WC1
437,St Paul's Cray,Bromley,ORPINGTON,BR5
438,Stamford Hill,Hackney,LONDON,N15
439,Stanmore,Harrow,STANMORE,HA7
440,Stepney,Tower Hamlets,LONDON,E1
441,Stockwell,Lambeth,LONDON,SW8
442,Stoke Newington,Hackney,LONDON,N16
443,Stonebridge,Brent,LONDON,NW10
444,Stratford,Newham,LONDON,E15
445,Strawberry Hill,Richmond upon Thames,TWICKENHAM,TW1
446,Streatham,Lambeth,LONDON,SW16
447,Stroud Green,Haringey,LONDON,N4
448,Sudbury,Brent,"HARROW, WEMBLEY",HA0
449,Sundridge,Bromley,BROMLEY,BR1
450,Surbiton,Kingston upon Thames,SURBITON,KT5
451,Surrey Quays,Southwark,LONDON,SE16
452,Sutton,Sutton,SUTTON,SM1
453,Swiss Cottage,Camden,LONDON,NW3
454,"Sydenham (also Lower Sydenham, Upper Sydenham)",Lewisham,LONDON,SE26
455,Sydenham Hill,Lewisham,LONDON,SE21
456,Teddington,Richmond upon Thames,TEDDINGTON,TW11
457,Temple,City,LONDON,EC4
458,Temple Fortune,Barnet,BARNET,EN5
459,Thamesmead,Bexley,"LONDON, ERITH",SE28
460,Thornton Heath,Croydon,THORNTON HEATH,CR7
461,Tokyngton,Brent,WEMBLEY,HA9
462,Tolworth,Kingston upon Thames,SURBITON,KT5
463,Tooting,Wandsworth,LONDON,SW17
464,Tooting Bec,Wandsworth,LONDON,SW17
465,Tottenham,Haringey,LONDON,N15
466,Tottenham Green,Haringey,LONDON,N15
467,Tottenham Hale,Haringey,LONDON,N15
468,Totteridge,Barnet,LONDON,N20
469,Tower Hill,Tower Hamlets,LONDON,EC3
470,Tufnell Park,Islington,LONDON,N7
471,Tulse Hill,Lambeth,LONDON,SE24
472,Turnpike Lane,Haringey,LONDON,N8
473,Twickenham,Richmond upon Thames,TWICKENHAM,TW1
474,Upminster,Havering,UPMINSTER,RM14
475,Upminster Bridge,Havering,HORNCHURCH,RM12
476,Upper Clapton,Hackney,LONDON,E5
477,Upper Holloway,Islington,LONDON,N19
478,Upper Norwood,Croydon,LONDON,SE19
479,Upper Ruxley,Bexley,"SIDCUP, ORPINGTON",DA14
480,Upper Walthamstow,Waltham Forest,LONDON,E17
481,Upton,Bexley,BEXLEYHEATH,DA6
482,Upton Park,Newham,LONDON,E6
483,Uxbridge,Hillingdon,UXBRIDGE,UB8
484,Vauxhall,Lambeth,LONDON,SW8
485,Waddon,Croydon,CROYDON,CR0
486,Wallington,Sutton,WALLINGTON,SM6
487,Walthamstow,Waltham Forest,LONDON,E17
488,Walthamstow Village,Waltham Forest,LONDON,E17
489,Walworth,Southwark,LONDON,SE17
490,Wandsworth,Wandsworth,LONDON,SW18
491,Wanstead,Redbridge,LONDON,E11
492,Wapping,Tower Hamlets,LONDON,E1
493,Wealdstone,Harrow,HARROW,HA3
494,Well Hall,Greenwich,LONDON,SE9
495,Welling,Bexley,WELLING,DA16
496,Wembley,Brent,WEMBLEY,HA0
497,Wembley Park,Brent,WEMBLEY,HA9
498,Wennington,Havering,RAINHAM,RM13
499,West Brompton,Kensington and Chelsea,LONDON,SW10
500,West Drayton,Hillingdon,WEST DRAYTON,UB7
501,West Ealing,Ealing,LONDON,W13
502,West Green,Haringey,LONDON,N15
503,West Hackney,Hackney,LONDON,N16
504,West Ham,Newham,LONDON,E13
505,West Hampstead,Camden,LONDON,NW6
506,West Harrow,Harrow,HARROW,HA2
507,West Heath,Bexley,LONDON,SE2
508,West Hendon,Barnet,LONDON,NW9
509,West Kensington,Hammersmith and Fulham,LONDON,W14
510,West Norwood,Lambeth,LONDON,SE27
511,West Wickham,Bromley,WEST WICKHAM,BR4
512,Westcombe Park,Greenwich,LONDON,SE3
513,Westminster,Westminster,LONDON,SW1
514,Whetstone,Barnet,LONDON,N20
515,White City,Hammersmith and Fulham,LONDON,W12
516,Whitechapel,Tower Hamlets,LONDON,E1
517,Widmore (also Widmore Green),Bromley,BROMLEY,BR1
518,Whitton,Richmond upon Thames,TWICKENHAM,TW2
519,Willesden,Brent,LONDON,NW10
520,Wimbledon,Merton,LONDON,SW19
521,Winchmore Hill,Enfield,LONDON,N21
522,Wood Green,Haringey,LONDON,N22
523,Woodford,Redbridge,LONDON,IG8
524,Woodford Green,Redbridge,"LONDON, WOODFORD GREEN",IG8
525,Woodlands,Hounslow,ISLEWORTH,TW7
526,Woodside,Croydon,CROYDON,CR0
527,Woodside Park,Barnet,LONDON,N12
528,Woolwich,Greenwich,LONDON,SE18

In [476]:
#only selecting London Neighborhoods and cross referencing that the selection is correct
df = df[df.posttown == "LONDON"]
df.posttown.value_counts()

LONDON    299
Name: posttown, dtype: int64

In [477]:
#dropping the posttown field as it doesnt add value anymore
df.drop(['posttown'], axis =1, inplace = True)
df.reset_index(drop=True, inplace = True)

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [478]:
df.head()

     location      borough postcode
0  Abbey Wood       Bexley      SE2
1       Acton       Ealing       W3
2     Aldgate         City      EC3
3     Aldwych  Westminster      WC2
4     Anerley      Bromley     SE20

In [479]:
# The code was removed by Watson Studio for sharing.

In [480]:
from geopy.geocoders import GoogleV3 # convert an address into latitude and longitude values

In [481]:
geolocator = GoogleV3(api_key = googlemaps_api_key, domain = 'maps.google.co.uk')
location = geolocator.geocode('SE2, London, United Kingdom')
location.latitude, location.longitude

(51.4860421, 0.1202586)

In [482]:
def get_lat_long_london(postcode):
    # Initialize the Location (lat. and long.) to "None"
    lat_lng_coords = None
    
    # While loop helps to create a continous run until all the location coordinates are geocoded
    while(lat_lng_coords is None):
        address = '{}, London, United Kingdom'.format(postcode)
        geolocator = GoogleV3(api_key = googlemaps_api_key, domain = 'maps.google.co.uk')
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
        lat_lng_coords = [latitude, longitude]
    return lat_lng_coords

In [483]:
#testing
get_lat_long_london('SE2')

[51.4860421, 0.1202586]

In [ ]:
#Using comprehension to create the data for our additional columns
post_codes = [get_lat_long_london(p) for p in df['postcode'].to_list()]

In [ ]:
#creating the dataframe which we will append to the end of our existing dataframe
df_c = pd.DataFrame(post_codes, columns = ['latitude', 'longitude'])
df_c.head()

    latitude  longitude
0  51.486042   0.120259
1  51.512075  -0.267572
2  51.515987  -0.078379
3  51.510583  -0.126768
4  51.412571  -0.061397

In [ ]:
df_lon = pd.concat([df, df_c], axis=1)
df_lon.head()

     location      borough postcode   latitude  longitude
0  Abbey Wood       Bexley      SE2  51.486042   0.120259
1       Acton       Ealing       W3  51.512075  -0.267572
2     Aldgate         City      EC3  51.515987  -0.078379
3     Aldwych  Westminster      WC2  51.510583  -0.126768
4     Anerley      Bromley     SE20  51.412571  -0.061397

### Amsterdam

In [ ]:
#Scraping the Amsterdam data
#Reading in the table and setting the header to the first row
df = pd.read_html(r'https://en.wikipedia.org/wiki/Boroughs_of_Amsterdam', match = 'Area')
df = pd.DataFrame(df[0])
df.head()

,Borough,Area,Population,Population density,Location (in green),Neighbourhoods
0,Centrum (Centre),8.04 km²,86422,"13,748/km²",NaN,"Binnenstad, Grachtengordel, Haarlemmerbuurt, J..."
1,Noord (North),49.01 km²,94766,"2,269/km²",NaN,"Banne Buiksloot, Buiksloot, Buikslotermeer, Fl..."
2,Nieuw-West(New West),32.38 km²,151677,"4,478/km²",NaN,"Geuzenveld, Nieuw Sloten, Oostoever, Osdorp, O..."
3,Oost (East),30.56 km²,135767,"7,635/km²",NaN,"IJburg, Indische Buurt, Eastern Docklands, Oud..."
4,West,9.89 km²,143842,"15,252/km²",NaN,"Frederik Hendrikbuurt, Houthaven, Spaarndammer..."

In [ ]:
#renaming the columns fo ease of use
df.columns = ['borough', 'area', 'population', 'populationdensity', 'location', 'neighborhoods']
df.head()

,borough,area,population,populationdensity,location,neighborhoods
0,Centrum (Centre),8.04 km²,86422,"13,748/km²",NaN,"Binnenstad, Grachtengordel, Haarlemmerbuurt, J..."
1,Noord (North),49.01 km²,94766,"2,269/km²",NaN,"Banne Buiksloot, Buiksloot, Buikslotermeer, Fl..."
2,Nieuw-West(New West),32.38 km²,151677,"4,478/km²",NaN,"Geuzenveld, Nieuw Sloten, Oostoever, Osdorp, O..."
3,Oost (East),30.56 km²,135767,"7,635/km²",NaN,"IJburg, Indische Buurt, Eastern Docklands, Oud..."
4,West,9.89 km²,143842,"15,252/km²",NaN,"Frederik Hendrikbuurt, Houthaven, Spaarndammer..."

In [ ]:
#dropping columns that I don't need
df = df[['borough','neighborhoods']]
df.head()

                borough                                      neighborhoods
0      Centrum (Centre)  Binnenstad, Grachtengordel, Haarlemmerbuurt, J...
1         Noord (North)  Banne Buiksloot, Buiksloot, Buikslotermeer, Fl...
2  Nieuw-West(New West)  Geuzenveld, Nieuw Sloten, Oostoever, Osdorp, O...
3           Oost (East)  IJburg, Indische Buurt, Eastern Docklands, Oud...
4                  West  Frederik Hendrikbuurt, Houthaven, Spaarndammer...

In [ ]:
#We now need to rearrange the table so that we only have a neighborhood and borough column.
#We start by splitting the neighborhood column into many columns, and add the 'neighborhood' prefix for ease of use
df_split= df.neighborhoods.str.split(",", expand = True)
df_split = df_split.add_prefix('Neighborhood_')
df_split.head()

,Neighborhood_0,Neighborhood_1,Neighborhood_2,Neighborhood_3,Neighborhood_4,Neighborhood_5,Neighborhood_6,Neighborhood_7,Neighborhood_8,Neighborhood_9,Neighborhood_10,Neighborhood_11,Neighborhood_12,Neighborhood_13
0,Binnenstad,Grachtengordel,Haarlemmerbuurt,Jodenbuurt,Jordaan,Kadijken,Lastage,Oosterdokseiland,Oostelijke Eilanden,Plantage,Rapenburg,Uilenburg,Westelijke Eilanden,Weteringschans
1,Banne Buiksloot,Buiksloot,Buikslotermeer,Floradorp,Kadoelen,Molenwijk,Nieuwendam,Nieuwendammerdijk en Buiksloterdijk,Oostzanerwerf,Overhoeks,Tuindorp Nieuwendam,Tuindorp Oostzaan,None,None
2,Geuzenveld,Nieuw Sloten,Oostoever,Osdorp,Overtoomse Veld,Sloten,Slotermeer,Slotervaart,None,None,None,None,None,None
3,IJburg,Indische Buurt,Eastern Docklands,Oud-Oost,Watergraafsmeer,None,None,None,None,None,None,None,None,None
4,Frederik Hendrikbuurt,Houthaven,Spaarndammerbuurt,Staatsliedenbuurt,Zeeheldenbuurt,Westerpark,Kinkerbuurt,Overtoombuurt,De Baarsjes,Bos en Lommer,Kolenkitbuurt,Landlust,Sloterdijk,None

In [ ]:
#we then join the dataframes back together again and drop the repetitive 'neighborhoods' columns
df_new = pd.concat([df, df_split], axis = 1)
df_new.drop(['neighborhoods'], axis = 1, inplace = True)
df_new

,borough,Neighborhood_0,Neighborhood_1,Neighborhood_2,Neighborhood_3,Neighborhood_4,Neighborhood_5,Neighborhood_6,Neighborhood_7,Neighborhood_8,Neighborhood_9,Neighborhood_10,Neighborhood_11,Neighborhood_12,Neighborhood_13
0,Centrum (Centre),Binnenstad,Grachtengordel,Haarlemmerbuurt,Jodenbuurt,Jordaan,Kadijken,Lastage,Oosterdokseiland,Oostelijke Eilanden,Plantage,Rapenburg,Uilenburg,Westelijke Eilanden,Weteringschans
1,Noord (North),Banne Buiksloot,Buiksloot,Buikslotermeer,Floradorp,Kadoelen,Molenwijk,Nieuwendam,Nieuwendammerdijk en Buiksloterdijk,Oostzanerwerf,Overhoeks,Tuindorp Nieuwendam,Tuindorp Oostzaan,None,None
2,Nieuw-West(New West),Geuzenveld,Nieuw Sloten,Oostoever,Osdorp,Overtoomse Veld,Sloten,Slotermeer,Slotervaart,None,None,None,None,None,None
3,Oost (East),IJburg,Indische Buurt,Eastern Docklands,Oud-Oost,Watergraafsmeer,None,None,None,None,None,None,None,None,None
4,West,Frederik Hendrikbuurt,Houthaven,Spaarndammerbuurt,Staatsliedenbuurt,Zeeheldenbuurt,Westerpark,Kinkerbuurt,Overtoombuurt,De Baarsjes,Bos en Lommer,Kolenkitbuurt,Landlust,Sloterdijk,None
5,Westpoort(West Gateway),Westpoort,None,None,None,None,None,None,None,None,None,None,None,None,None
6,Zuid (South),Apollobuurt,Buitenveldert,Hoofddorppleinbuurt,Museumkwartier,De Pijp,Prinses Irenebuurt,Rivierenbuurt,Schinkelbuurt,Stadionbuurt,Vondelpark,Willemspark,Zuidas,None,None
7,Zuidoost(Southeast),Bijlmermeer,Venserpolder,Gaasperdam,Driemond,None,None,None,None,None,None,None,None,None,None

In [ ]:
#we then use melt to get our two columns
df_new.set_index('borough', inplace =  True)
df_new.head()
#df_new.pivot(index = 'borough', columns = df.columns[1:])

,Neighborhood_0,Neighborhood_1,Neighborhood_2,Neighborhood_3,Neighborhood_4,Neighborhood_5,Neighborhood_6,Neighborhood_7,Neighborhood_8,Neighborhood_9,Neighborhood_10,Neighborhood_11,Neighborhood_12,Neighborhood_13
borough,,,,,,,,,,,,,,
Centrum (Centre),Binnenstad,Grachtengordel,Haarlemmerbuurt,Jodenbuurt,Jordaan,Kadijken,Lastage,Oosterdokseiland,Oostelijke Eilanden,Plantage,Rapenburg,Uilenburg,Westelijke Eilanden,Weteringschans
Noord (North),Banne Buiksloot,Buiksloot,Buikslotermeer,Floradorp,Kadoelen,Molenwijk,Nieuwendam,Nieuwendammerdijk en Buiksloterdijk,Oostzanerwerf,Overhoeks,Tuindorp Nieuwendam,Tuindorp Oostzaan,None,None
Nieuw-West(New West),Geuzenveld,Nieuw Sloten,Oostoever,Osdorp,Overtoomse Veld,Sloten,Slotermeer,Slotervaart,None,None,None,None,None,None
Oost (East),IJburg,Indische Buurt,Eastern Docklands,Oud-Oost,Watergraafsmeer,None,None,None,None,None,None,None,None,None
West,Frederik Hendrikbuurt,Houthaven,Spaarndammerbuurt,Staatsliedenbuurt,Zeeheldenbuurt,Westerpark,Kinkerbuurt,Overtoombuurt,De Baarsjes,Bos en Lommer,Kolenkitbuurt,Landlust,Sloterdijk,None

In [ ]:
#Cleaning up the dataframe
df = pd.DataFrame(df_new.stack(level=0))
df.index = df.index.get_level_values('borough')
df.reset_index(drop =False, inplace =True)
df.rename(columns = {0:'neighborhood'}, inplace = True)
df.head()

            borough      neighborhood
0  Centrum (Centre)        Binnenstad
1  Centrum (Centre)    Grachtengordel
2  Centrum (Centre)   Haarlemmerbuurt
3  Centrum (Centre)        Jodenbuurt
4  Centrum (Centre)           Jordaan

In [ ]:
#we now need to remove the english translation within the brackets by using regex
df['borough'] = df['borough'].str.replace(r'\([^()]*\)', '')
df.head()

    borough      neighborhood
0  Centrum         Binnenstad
1  Centrum     Grachtengordel
2  Centrum    Haarlemmerbuurt
3  Centrum         Jodenbuurt
4  Centrum            Jordaan

In [ ]:
#Now using the get_lat_lng function we used earlier on the amsterdam data, we have to change the domain and address string:
geolocator = GoogleV3(api_key = googlemaps_api_key, domain = 'maps.google.co.uk')

In [ ]:
def get_lat_long_amsterdam(neighborhood):
    # Initialize the Location (lat. and long.) to "None"
    lat_lng_coords = None
    
    # While loop helps to create a continous run until all the location coordinates are geocoded
    while(lat_lng_coords is None):
        address = '{}, Amsterdam, Nederland'.format(neighborhood)
        geolocator = GoogleV3(api_key = googlemaps_api_key, domain = 'maps.google.co.uk')
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
        lat_lng_coords = [latitude, longitude]
    return lat_lng_coords

In [ ]:
#checking that it works
location = geolocator.geocode('Grachtengordel, Amsterdam, Nederland')
location.latitude, location.longitude
print (location.latitude, location.longitude)
print('It works!')

52.3655774 4.8893609
It works!

In [ ]:
#Using comprehension to create the data for our additional columns
post_codes = [get_lat_long_amsterdam(n) for n in df['neighborhood'].to_list()]
post_codes.head()

In [ ]:
#creating the dataframe which we will append to the end of our existing dataframe
df_am_lat_lng = pd.DataFrame(post_codes, columns = ['latitude', 'longitude'])
df_am_lat_lng.head()

In [ ]:
df_am = pd.concat([df, df_am_lat_lng], axis=1)
df_am.head()

### Now concatenating the two dataframes by row (on top of one another), we get the final dataframe

In [ ]:
df_lon.head()

In [ ]:
df_am.head()

In [ ]:
df_am = df_am[['neighborhood', 'borough', 'latitude', 'longitude']]
df_am['city'] = 'Amsterdam'
df_am.head()

In [ ]:
#Because we dont have the post codes for Amsterdam- and given that we actually don't need them , we can drop it before we concatenate.
df_lon.drop(['postcode'], axis = 1, inplace =True)

In [ ]:
df_lon.rename({'location': 'neighborhood'}, axis = 1, inplace = True)
df_lon['city'] = 'london'

In [ ]:
df_am_lon = pd.concat([df_lon, df_am])
df_am_lon.reset_index(drop =True, inplace =True)
df_am_lon

In [ ]:
# Having a look at the two cities using a folium map
#Looking at Amsterdam first
location = geolocator.geocode( 'Amsterdam, Nederland')
lat_am = location.latitude
lng_am = location.longitude
print (lat_am, lng_am)

In [ ]:
# create map of Amsterdam using latitude and longitude values
map_am= folium.Map(location=[lat_am, lng_am], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(df_am['latitude'], df_am['longitude'], df_am['borough'], df_am['neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_am)  
    
map_am

In [ ]:
# Having a look at the two cities using a folium map
#Looking at London
location = geolocator.geocode( 'London, United Kingdom')
lat_lon = location.latitude
lng_lon = location.longitude
print (lat_lon, lng_lon)

In [ ]:
# create map of Amsterdam using latitude and longitude values
map_lon= folium.Map(location=[lat_lon, lng_lon], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(df_lon['latitude'], df_lon['longitude'], df_lon['borough'], df_lon['neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_lon)  
    
map_lon

In [ ]:
df_am_lon.shape

In [ ]:
df_am_lon.borough.nunique()

In [ ]:
df_am_lon.groupby(by = ['city']).count()['neighborhood']

In [ ]:
a = df_am_lon.groupby(by = ['city'])['borough'].value_counts()

### Findings from our initial neighborhood data

We now have a final dataframe with  368 neighborhoods across both cities.
Given the size of London compared to Amsterdam, it's no surprise that London has over 3 times as many neighborhoods.
* London has 299 Neighborhoods
* Amsterdam has 69 Neighborhoods

In total, there are 41 unique Boroughs between the two cities.
* The Borough with the most neighborhoods in Amsterdam is Centrum with 14 Neighborhoods.
* The Borough with the most neighborhoods in London is Barnet with 26 Neighborhoods.

If we take a look at each folium map, we can see that London as a geographic region is much bigger than Amsterdam.

## 3. Clustering Neighborhoods using FourSquare <a class="anchor" id="third-bullet"></a>

In [ ]:
import requests # library to handle requests
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [ ]:
# The code was removed by Watson Studio for sharing.

In [ ]:
#Exploring the first neighborhood in our dataset- 'Abbey Wood'

df_am_lon.loc[0, 'neighborhood']

#### Now, let's get the top 50 venues that are in Regent Park within a radius of 500 meters.

In [ ]:
neighborhood_name = df_am_lon.loc[0, 'neighborhood']
neighborhood_latitude = df_am_lon.loc[0, 'latitude']
neighborhood_longitude = df_am_lon.loc[0, 'longitude']

LIMIT = 50 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL

In [ ]:
#Sending the GET request to examine the results
results = requests.get(url).json()
results

In [ ]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [ ]:
#Cleaning Json and putting into pandas DF structure
venues = results['response']['groups'][0]['items']
venues

In [ ]:
nearby_venues = json_normalize(venues) # flatten JSON
nearby_venues.head()

In [ ]:
# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]
nearby_venues.head()

In [ ]:
# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)
nearby_venues.head()

In [ ]:
# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
nearby_venues.columns

In [ ]:
nearby_venues.head()

In [ ]:
#Creating a function to repeat the same for all neighborhoods in our London and Amsterdam dataset
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [ ]:
am_lon_venues = getNearbyVenues(names=df_am_lon['neighborhood'],
                                   latitudes=df_am_lon['latitude'],
                                   longitudes=df_am_lon['longitude']
                                  )

In [ ]:
#Sizing and getting a view of the data
print(am_lon_venues.shape)
am_lon_venues.head()

In [ ]:
#Seeing how many venues we get per neighborhood
am_lon_venues.groupby('Neighborhood').count().head()

#### Analysing each neighborhood

In [ ]:
# one hot encoding
am_lon_onehot = pd.get_dummies(am_lon_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
am_lon_onehot['Neighborhood'] = am_lon_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [am_lon_onehot.columns[-1]] + list(am_lon_onehot.columns[:-1])
am_lon_onehot = am_lon_onehot[fixed_columns]

am_lon_onehot.head()

In [ ]:
#Grouping the rows by neighborhood and taking the mean of the frequency of the occurance
am_lon_grouped = am_lon_onehot.groupby('Neighborhood').mean().reset_index()
am_lon_grouped.head()

In [ ]:
#Printing each neighborhood along with the 5 most common venues
num_top_venues = 5

for hood in am_lon_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = am_lon_grouped[am_lon_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

In [ ]:
#Writing a function to sort the venues in descending order
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [ ]:
#Creating a new DF to display the top venues for each neighborhood
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = am_lon_grouped['Neighborhood']

for ind in np.arange(am_lon_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(am_lon_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

#### Now that our data is in a workable format, we'll start our clustering

In [ ]:
# set number of clusters
kclusters = 5

am_lon_grouped_clustering = am_lon_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(am_lon_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

In [ ]:
#creating anew dataframe that includes cluster and the top 10 venues per neighborhood
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [ ]:
am_lon_merged.rename(columns = {'neighborhood':'Neighborhood'}, inplace = True)

In [ ]:
neighborhoods_venues_sorted.head()

In [ ]:
am_lon_merged = df_am_lon

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
am_lon_merged = am_lon_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

am_lon_merged # check the last columns!

In [ ]:
am_lon_merged.dropna(inplace = True)

In [ ]:
am_lon_merged['Cluster Labels'] = am_lon_merged['Cluster Labels'].astype(int)

In [ ]:
# create map for Amsterdam
map_clusters_am = folium.Map(location=[lat_am, lng_am], zoom_start=10)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(am_lon_merged['latitude'], am_lon_merged['longitude'], am_lon_merged['Neighborhood'], am_lon_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters_am

In [ ]:
# create map for London
map_clusters_lon = folium.Map(location=[lat_lon, lng_lon], zoom_start=10)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(am_lon_merged['latitude'], am_lon_merged['longitude'], am_lon_merged['Neighborhood'], am_lon_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters_lon

#### Examining Clusters

In [ ]:
#Cluster 1
am_lon_merged.loc[am_lon_merged['Cluster Labels'] == 0, am_lon_merged.columns[[1] + list(range(5, am_lon_merged.shape[1]))]]

In [ ]:
#Cluster 2
am_lon_merged.loc[am_lon_merged['Cluster Labels'] == 1, am_lon_merged.columns[[1] + list(range(5, am_lon_merged.shape[1]))]]

In [ ]:
#Cluster 3
am_lon_merged.loc[am_lon_merged['Cluster Labels'] == 2, am_lon_merged.columns[[1] + list(range(5, am_lon_merged.shape[1]))]]

In [ ]:
#Cluster 4
am_lon_merged.loc[am_lon_merged['Cluster Labels'] == 3, am_lon_merged.columns[[1] + list(range(5, am_lon_merged.shape[1]))]]

In [ ]:
#Cluster 5
am_lon_merged.loc[am_lon_merged['Cluster Labels'] == 4, am_lon_merged.columns[[1] + list(range(5, am_lon_merged.shape[1]))]]

### Looking at the clusters, we have many the most homogeneity in cluster 1 meaning that those boroughs are probably the most similar. If you are looking for something a bit different, it seems that Boroughs in cluster 2-5 would be something to look into.